body {
background-image: url(../images/background.jpg);
background-size: cover;
background-repeat: no-repeat;
background-color: rgb(32, 2, 61);
color:rgb(8, 130, 245);
font-size: 18px;
line-height: 36px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#jumbotron {
    text-align: center;
}

h1 {
    color: slateblue;
    font-size: 50px;
    font-family: fantasy;
    line-height: normal;
}

h2 {
    margin: 15px 0 15px 0;
    color: rgb(160, 8, 3);
    font-size: 22px;
    font-family: fantasy;
}

#instructions-container {
    opacity: .8;
    float: left;
    background-color: rgb(45, 8, 65);
    width: 50%;
}

.image {
    opacity: .7;
    display: block;
    margin: 20px 75px 0 75px;
    width: 200px;
    height: 200px;
    float: left;
    align-items: center;
}

#score-container {
    height: 200px;
    color: rgb(90, 248, 193);
}

#games-container {
    color: rgb(90, 248, 193);
    
}

#numberToGuess {
    color: rgb(90, 248, 193);
}